.contacto__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px 0;
    align-items: flex-start;
    width: 100%;
    background: #EAF2FD;
    
}
.contacto__logo{
    display: flex;
    width: 176px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.contacto__info{
    display: flex;
width: 176px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
flex-shrink: 0;
}
.contacto__info-li, .contacto__info-text{
color:  #464646;
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration: none;
}
.contacto__contactar{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
}
.contacto__titulo{
    color: #464646;
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
align-self: stretch;
}
.contacto__input {
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

.contacto__input-label,
.contacto__textarea-label {
    color:#A2A2A2;
    font-weight: 500;

}

.contactoform__input {
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    padding: 1.375rem 0.5rem 0.5rem;
    height: 3.25rem;
    width: 350px;
}
.contactoform__input:focus{
    border: 3px solid #0075ff;
    outline: none;
}
.contactoform__input::placeholder {
    visibility: hidden;
    color: #00000000;
}

.contactoform__input-msg::placeholder {
    visibility: hidden;
}

.contactoform__input:focus {
    outline: none;
}
.contactoform__input-msg:focus{
    outline: none;
}

.contacto__input-label, .contacto__textarea-label {
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    
    transition: all 0.25s;
}

.contactoform__input:not(:placeholder-shown)+.contacto__input-label,
.contactoform__input:focus+.contacto__input-label, .contactoform__input-msg:not(:placeholder-shown)+.contacto__textarea-label,
.contactoform__input-msg:focus+.contacto__textarea-label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all 0.25s;
}

.contactoform__input-msg{
    height: 82px;
    width: 350px;
    padding-top: 16px ;
    border: none;
    border-radius: 5px;
    resize: none;
    font-family: Raleway;
}
.contactoform__input-msg:focus{
    border: 3px solid #0075ff;
}
.contacto__button{
    display: flex;
padding: 16px;
justify-content: center;
align-items: center;
gap: 10px;
background:  #2A7AE4;
border: 1px solid #2A7AE4;
color: #ffffff;
font-family: Raleway;
}
.contacto__button:hover {
    box-shadow: 0 5px 10px 5px rgba(22, 26, 45, 0.11);
    transform: scale(1.02);
}
.input__mensaje-error{
    font-size: 15px;
    padding-top: 0.5rem;
    display: none;
   
}
.input__mensaje-error-activo{
    display: flex;
}

.contacto__enviado{
    font-size: 20px;
    color: #2A7AE4;
    display: none;
}

.contacto__enviado-activo{
    display: block;
}

/*-----Mensaje de error-----*/

.contacto__input-error .contacto__input-label{
    color: #bb2929;
}
.contacto__input-error .contactoform__input{
    border: 3px solid #bb2929;
}
.contacto__input-error .contactoform__input-msg{
    border: 3px solid #bb2929;
}
.contacto__input-error .contacto__textarea-label{
    color: #bb2929;
}
.contacto__input-error .input__mensaje-error{
    color: #bb2929;
}

@media only screen and (min-width: 320px) and (max-width: 424px){
    .contacto__container{
        flex-direction: column;
        align-items: center;
    }
    .contacto__info{
        align-items: center;
        padding: 2rem 0;
    }

    .contacto__contactar{
       padding-left: 0.5rem;
    }
    .contactoform__input-msg{
        width: 270px;
    }
    .contactoform__input{
        width: 270px;
    }
}
